.searchbox {
  padding: 20px;
  border-bottom: solid 1px #ddd;
}
.searchbox form {
  width: 100%;
  display: flex;
}
.searchbox input {
  flex: 1;
  font-size: 16px;
  border: solid 1px #ccc;
  border-right: none;
  padding: 10px 10px;
}
.searchbox button {
  font-size: 16px;
  background-color: #fc6621;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}
