.comment {
  padding: 0px;
  border: solid 1px #eee;
}
.comment .comment {
  margin-left: 15px;
  margin-bottom: -1px;
  margin-right: -1px;
}
.user a {
  font-weight: normal;
}
.meta {
  background-color: #eee;
  padding: 15px;
  font-size: 0.9rem;
  color: #666;
  display: flex;
  list-style: none;
  cursor: pointer;
}
.meta::after {
  content: '−';
  margin-left: auto;
}
.comment:not([open]) .meta::after {
  content: '+';
}
.details > span:not(:first-child)::before {
  content: '•';
  color: #ccc;
  display: inline-block;
  margin: 0 5px;
}
.loading {
  padding: 15px;
}
.content {
  font-size: 0.95rem;
  line-height: 1.6em;
  margin: 15px;
  word-wrap: break-word;
}
.content a {
  font-weight: normal;
  text-decoration: underline;
}
.content a:hover {
  text-decoration: none;
}
