.item {
  padding: 20px;
  border-bottom: solid 1px #eee;
}
.h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}
.item a {
  color: #000;
  text-decoration: none;
  margin-right: 6px;
}
.item a:hover {
  color: #000;
  text-decoration: underline;
}
.content {
  font-size: 14px;
  margin-bottom: 15px;
}
.content a {
  font-weight: normal;
  text-decoration: underline;
}
.content a:hover {
  text-decoration: none;
}