.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.spinner {
  border: 8px solid #ddd;
  border-left-color: #fc6621;
  border-left-color: oklch(69.22% 0.2222 41.27);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
