.nav {
  font-size: 15px;
  background-color: #333;
  padding: 0 10px;
}
.nav a {
  display: block;
  color: #fff;
  padding: 10px;
}
.nav a:hover,
.active {
  text-decoration: none;
  color: #fff;
  background-color: #111;
}
.nav li {
  display: inline-block;
}
.search {
  width: 14px;
  height: 14px;
  position: relative;
  top: -1px;
  left: -1px;
}
@media only screen and (max-width: 400px) {
  .nav {
    font-size: 13px;
  }
  .search {
    width: 13px;
    height: 13px;
    position: relative;
    top: -2px;
  }
}
@media only screen and (max-width: 320px) {
  .nav {
    font-size: 12px;
  }
  .nav a {
    padding: 7px;
  }
}
